@model  IEnumerable<FirstMVCApplication.Models.Employee>
@{
    ViewBag.Title = " Employee List";
}

<h2>List</h2>


@foreach (var item in Model)
{
<div>
    ID: @item.Id
    <br />
    Name: @item.Name
    <br />
    Age: @item.Age
    <br />
    @Html.ActionLink("Edit", "Update", new { id = item.Id })
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    @*Display, action method,parameter*@
</div>
    <hr>

}